node_modules/
dist/
*.tsbuildinfo
artifacts/
coverage/
.DS_Store
build/
.pnpm-store/
.vscode-test-web/
extensions/browser-rpc-provider/local/
extensions/git-http-provider/local/
examples/browser-rpc-bitbucket/local/
examples/browser-rpc-bitbucket-datacenter/local/

/*.md
!README.md
!CONTRIBUTING.md
!SECURITY.md
!THIRD_PARTY_NOTICES.md
